:root {
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --main-color: #f9f7fe;
  --brand-color: #6c63ff;
  --secondary-color: #272142;
}

body {
  font-family: var(--default-font);
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

.hero {
  background-color: var(--main-color);
  text-align: center;
  padding: 160px 50px;
}

.hero p {
  font-weight: 700;
  font-size: 36px;
  color: var(--secondary-color);
}

h1 {
  color: #000;
  font-size: 96px;
  line-height: 1.5;
}

.hero h2 {
  font-weight: 400;
  font-size: 24px;
  color: var(--secondary-color);
}

.btn-branded {
  background-color: var(--brand-color);
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 46px;
  border-radius: 4px;
}

.btn-branded-outline {
  color: var(--brand-color);
  color: var(--brand-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 46px;
  border: 1px solid var(--brand-color);
  border-radius: 4px;
}

.project-description {
  padding: 80px 20px;
}

h2 {
  font-size: 64px;
  font-weight: 700;
}

p {
  line-height: 30px;
  font-size: 16px;
}

@media (max-width: 800px) {
  .hero {
    padding: 40px 20px;
    text-align: center;
  }

  .hero p {
    font-size: 28px;
  }

  .project-description {
    padding: 20px 10px;
    text-align: center;
  }

  h1 {
    font-size: 46px;
    line-height: 1.3;
  }
  h2 {
    font-size: 32px;
  }

  p {
    text-align: center;
    font-size: 18px;
  }
}
